@import "null.css";
@import "fonts.css";

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #1e212c;
}
.title {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    align-items: center;
}

.text__bold {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.text_main {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
